.header{
    display: flex;
    flex-direction:row;
    justify-content: center;
    font-family: "Montserrat",sans-serif;
    align-items: center;
    text-transform: uppercase;
    background-color: #36454F;
    font-size: 2vw;
    /* padding-bottom: 15px; */
    box-shadow: 0px 1px 5px black;
    color: white;
    z-index: 100;
    position: fixed;
    width: 100%;
    cursor: pointer;
    height: 100px;
    
}

.header svg{
    display: flex;
    /* margin-right: 10px; */
    height: fit-content;
    /* height: 10vh; */
    width: 8vh;
}

.header h2{
    font-size: 5vh;
    
    /* padding-left: 10px; */
}

